/* Home.css */

/* Container to hold the grid of cards */
body{ 
  margin-top: 25px;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 20px; /* Space between the grid items */
  padding: 20px;
  justify-items: center; /* Center the cards inside the grid cells */
  grid-auto-rows: auto; /* Automatically adjust rows' height */
  margin-top: 80px; /* Add a top margin to avoid navbar overlap */
}

@media (max-width: 1200px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr); /* 3 columns on medium screens */
  }
}

@media (max-width: 900px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
  }
}

@media (max-width: 600px) {
  .cards-container {
    grid-template-columns: 1fr; /* 1 column on mobile screens */
  }
}
